{% extends 'snippet/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Profile Info</h1>
            <br>
            {{ u_form|crispy }}
            {{ b_form|crispy }}
            {{ p_form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Update</button>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}